.footer-container {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, darken(#EFF3EF, 50%), #000000);
    padding: 2rem;
    color: #ffffff;
    // border-radius: 0.5rem;
}