.main-content_scores {
    border: 0.15rem solid #8AC1C3;
    // border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 100%;
}

.main-content_scores_nav {
    list-style: none;
    background-image: linear-gradient(to bottom right, darken(#8AC1C3, 20%), darken(#8AC1C3, 30%));
    // border-radius: 0.5rem;
    width: auto;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0.5rem;

    @media (max-width: 900px) {
        // display: block;
        min-height: 8rem;
        width: auto;
    }
    
}

.show-calendar {
    align-items: flex-end;
    z-index: 9;
    position: absolute;
    right: 5%;
    margin-left: 0.5rem;
    // min-width: 4rem;
    // color: darken(#B99A86, 20%);
    
    
    span {
        color: #EFF3EF;
        
        cursor: pointer;
        &:hover {
        color: darken(#B99A86, 20%);
  
    }
    }

}

.react-calendar {
    abbr {
        margin: 0.5rem;
    }
    button {
        padding: 0.5rem;
    }
}

.react-calendar__month-view__weekdays {
    background-image: linear-gradient(to bottom right, #623D3C, #837777);
    color: #ffffff;
}


.react-calendar__tile--now {
    background-color: #8AC1C3;
}

button.react-calendar__navigation__label {
    span {
        color: darken(#B99A86, 20%);
        font-weight: 700;
        
    }
    
}

.show-calendar_content {
    position: absolute;
    top: 1rem;
    background-color: #95afaf;
    min-width: 4rem;
    color: darken(#B99A86, 20%);
    
}

.main-content_scores_nav_list {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-right: 1rem;

    @media (max-width: 900px) {
        display: block;
        min-height: 8rem;
    }


    li {
        border-right: 0.15rem solid #EFF3EF;
        text-align: center;
        // align-self: center;
        // height: 100%;

        a {
            text-decoration: none;
            color: #EFF3EF;
            margin: auto 2rem;
            text-align: center;

            &:hover {
                color: darken(#B99A86, 20%);
          
            }
        }
    }


}

.actived-navlink {
    color: #623D3C !important;
    font-weight: 700;
}

.show-scores {
    list-style: none;
    margin-top: 0.5rem;

    li {

        &:last-of-type {
            border: none;
        }
        // margin: 2rem;
        padding: 1rem;
        color: #623D3C;
        border-bottom: 0.15rem solid #8AC1C3;

        // border-radius: 0.5rem;
        width: auto;
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: darken(#EFF3EF, 25%);
        }
    }
}


.show-country-league {
    display: flex;
    color: #623D3C;
    padding: 0.5rem;
    // border-bottom: 0.15rem solid #618261;
    background-image: linear-gradient(to bottom right, #8AC1C3, #95afaf);
    // border-radius: 0.5rem;
    height: 100%;
    position: relative;
    
    h4 {
        line-height: 3rem;
    }
    
    span {
        position: absolute;
        right: 5%;
        line-height: 2.5rem; 
        cursor: pointer;

        &:hover {
            color: lighten(#623D3C, 20%);
        }
    }
}

.show-country-league_img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}


.show-table {
    z-index: 9;
    background-color: lighten(#618261, 30%);
    color: #623D3C;
    width: 100%;
    height: 100%;
    font-weight: 500;
    padding: 0.5rem 0;
    box-sizing: padding-box;
    position: relative;
    // min-width: 20rem;
    // min-height: 20rem;

    button {
        background-color: #ffffff;
        padding: 0.25rem;
        border: 0.1rem, solid #618261;
        margin: 0.1rem;
        font-weight: bold;
        color: #623D3C;
        cursor: pointer;

        &:hover {
            background-color: lighten(#618261, 15%)
        }
        &:focus {
            outline: none;
        }
    }

    table {
        
        // position: absolute;
        // left: 10%;
        width: 100%;
        height: 100%;
        // margin: 0.5rem;
        padding: 0.5rem;
        border-collapse: collapse;
        font-size: 1rem;

        td {
            padding: 0.5rem;
        }
    }

    table, tr, td {
        border: 0.15rem solid #618261;
        text-align: center;
        
    }

}